.dropdownContainer {
  display: flex;
  gap: 5px;
  /* justify-content: center; */
  /* gap: 18px; */
  /* margin-bottom: 20px; */
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.titleCar {
  color: #8a8a89;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.carInputWrapper {
  display: flex;
}

.carInputOne {
  display: flex;
  width: 60px;
  /* width: 160px; */
  height: 48px;
  padding: 0 14px 0px 24px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 14px 0px 0px 14px;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
  background-color: #f7f7fb;
  border: none;
}
.carInputTwo {
  display: flex;
  width: 60px;
  /* width: 160px; */
  height: 48px;
  padding: 0 14px 0px 24px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 14px 14px 0px;
  background-color: #f7f7fb;
  border: none;
}

.dropdownButton {
  display: flex;
  padding: 14px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #3470ff;
  margin-top: 48px;
  /* margin-top: 45px; */
  color: #fff;
  border: none;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
  .dropdownContainer {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
  }
  .carInputOne {
    width: 160px;
  }
  .carInputTwo {
    width: 160px;
  }

  .dropdownButton {
    margin-top: 45px;
  }
  .dropdownButton:focus {
    background-color: #0b44cd;
  }
  .dropdownButton:hover {
    background-color: #0b44cd;
  }
}
