.header {
  background: radial-gradient(
    circle at 85.4% 50.8%,
    rgb(14, 72, 222) 0%,
    rgb(3, 22, 65) 74.2%
  );
  padding: 10px;
  margin: auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapperLink {
  display: flex;
  gap: 10px;
}

.navLink {
  text-decoration: none;
  padding: 5px;
  background-color: #3470ff;
  color: #fff;
  border-radius: 12px;
}

.navLink:hover {
  background-color: #0b44cd;
}

.navLink:focus {
  background-color: #0b44cd;
}

.nameLink {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-left: 60px;
    margin-right: 60px;
  }
  .wrapperLink {
    gap: 40px;
  }

  .navLink {
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nameLink:hover {
    color: navy;
  }
  .nameLink:focus {
    color: navy;
  }
}
