.imageWrapper {
  width: 270px;
  height: 200px;
  background-color: gainsboro;
  border-radius: 10px;
  border: 1px solid gray;
}
.image {
  width: 270px;
  height: 200px;
  border-radius: 10px;
}

.favoritesButton {
  position: absolute;
  margin-top: 10px;
  margin-left: 240px;
  right: auto;
  bottom: auto;
  background-color: transparent;
  border: none;
}

.heardActive {
  fill: #ffffff;
  height: 1.3em;
  width: 1.3em;
}

.heard {
  fill: #3470ff;
  height: 1.2em;
  width: 1.2em;
}

.carsCatalog {
  margin: auto;
  width: 1184px;
}

.carsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 29px;
  min-height: 426px;
}

.carsList {
  margin: 0;
  padding: 0;
  width: 270px;
  list-style: none;
}

.carsTitleWrapper {
  display: flex;
  justify-content: space-between;
}

.carsTitle {
  color: #121417;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.carsTitleSecond {
  color: #3470ff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.carsItemWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 7px;
}

.carsItem {
  color: rgba(18, 20, 23, 0.5);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.buttonLearn {
  display: flex;
  width: 274px;
  height: 44px;
  padding: 12px 99px;
  margin-top: 28px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: #3470ff;
  border: none;
  color: #ffffff;
}

.buttonLearn:focus {
  background-color: #0b44cd;
  border: none;
}
.buttonLearn:hover {
  background-color: #0b44cd;
  border: none;
}
